.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.contato .contatoText {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--primary-color);
}

.contato span {
    font-size: 3rem;
    font-family: 'lato';
}

.contato .contatoIcons {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    background-color: rgb(231, 231, 231);
    width: 100vw;
}

.conhecimento {
    padding: .8rem 2rem;
    display: flex;
    gap: 1rem;
}

.contatoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.contatoIcons .icon, .icon a {
    display: flex;
    align-items: center;
    gap: .7rem;
    color: var(--primary-color);
    cursor: pointer;
}

.contatoIcons .icon span {
    font-size: 1rem;
}

.contatoIcons .icon a:hover {
    color: #a7b6ec;
    transition: ease-in-out .5s ;
}


.contato .icon .bi {
    font-size: 1.5rem;
}


@media (max-width: 767px) {
    .contact {
        width: 80vw;
    }

    .contatoIcons .icon span {
        display: none;
    }

    .contatoContainer {
        align-items: center;
        justify-content: space-around;
        gap: .5rem;
    }

    .contato span{
        font-size: 2rem;
    }

    .contato .contatoText .bi {
        font-size: 1.5rem;
    }

    .contato .contatoIcons {
        width: 100vw;
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
    }

    .contato .icon .bi {
        font-size: .8rem;
    }
}