#aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: relative;
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-width: 337px;
}

.imagecontainer {
    display: flex;
    gap: 4rem;
}

#aboutMe img {
    border-radius: 50%;
    border: solid 10px #031A6B;
    height: 350px;
    transform: scaleX(-1);
}

.aboutMe-content {
    font-family: Lato;
    text-align: left;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.aboutMe-content span {
    font-size: 1.3rem;
    color: rgb(104, 104, 104);
}

.aboutMe-content div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aboutMe-content .dentro{
    font-family: 'Montserrat';
    font-weight: 1000;
    color: #031A6B;
    font-size: 5rem;
    line-height: 50px;
}

.download {
    background-color: #031A6B;
    border: none;
    padding: 1rem;
    color: white;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

button:hover {
    background-color: #a7b6ec;
    transition: ease-in-out .2s;
    a {
        color: #031A6B;
    }
}

.end-section {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100vw;
    z-index: -1;
    transform: rotate(180deg);
    fill: #031A6B;
}



@media (max-width: 767px) {

    #aboutMe {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
    }

    #aboutMe img {
        width: 200px;
        height: auto;
    }

    .aboutMeContainer {
        flex-direction: column;
        gap: 4rem;
    }

   .imagecontainer {
    flex-direction: column;
    gap: 2rem;
   }

    .aboutMe-content span {
        font-size: 1.3rem;
    }

    .aboutMe-content .dentro {
        font-size: 4rem;
    }
}
