.menuHamburguer {
    display: none;
}

.menuHamburguerList {
    display: none;
}

.ulHamburguer {
    display: none;
}

@media (max-width: 767px) {

    .menuHamburguer  {
        display: flex;
        padding-top: 10px;
        padding-right: 10px;
        z-index: 10;
    }

    .menuHamburguerList {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 400px;
        background-color: antiquewhite
    }

    .ulHamburguer li {
        color: red;
        font-size: .8rem;
    }
}