nav {
    background: #031A6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    list-style-type: none;
    color: #ffffff;
    padding: 1rem 5rem;
    box-shadow: 0 1px 5px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    min-width: 92vw;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
}

.logoTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logoTitle span {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

a:hover {
    color: #a7b6ec;
    transition: ease-in-out .2s;
}

a:visited {
    text-decoration: none;
}

@media (max-width: 767px) {
    nav ul {
        display: none;
    }
}
